v2版本增加了如下东西：
1.硬件上作了集成化处理，3个ADDA全坐在一块板上并整个扣在FPGA板上，并且与FPGA供电一体化适配。
2.完成之前未完成的标准AD校准待测AD部分以及DPD部分。
3.完成FT算法改进，由直接FFT结构改为基于DFT的谐波噪声分离结构提高精度。
4.在高频区域对标准AD使用提前计算好频点的等效采样，利用低速精密AD分析高频信号极大降低成本。
5.改掉之前直流扫描模式三角波频率不可调的问题（影响标准AD有效量化点数）。
